
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400&display=swap');

:root {
  --blue: rgb(30, 58, 138);
  --orange: rgb(245, 158, 11);
  --white: rgb(243, 243, 243);
  --black: rgb(4, 13, 18);
  --shadow: 0 2px 5px rgba(0,0,0,0.3);
  --font: 'Roboto Flex', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    font: inherit;
    box-sizing: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: var(--font);
  background-color: var(--blue);
  color: var(--orange);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black);
  padding: 1rem;
  box-shadow: var(--shadow);
}

.header h1 {
  font-size: 3rem;
  font-weight: 900;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--blue);
}

.gameboard {
  width: 460px;
  height: 460px;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.cell {
  border: 1px solid var(--orange);
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

[data-index="0"],
[data-index="1"],
[data-index="2"] {
  border-top: none;
}

[data-index="0"],
[data-index="3"],
[data-index="6"] {
  border-left: none;
}

[data-index="6"],
[data-index="7"],
[data-index="8"] {
  border-bottom: none;
}

[data-index="2"],
[data-index="5"],
[data-index="8"] {
  border-right: none;
}

.message {
  font-size: 2rem;
  min-height: 50px;
}

#game-btn {
  padding: 1rem;
  font-size: 2rem;
  background-color: var(--orange);
  color: var(--blue);
  border-radius: 2rem;
  border: 1px solid transparent;
  box-shadow: var(--shadow);
  cursor: pointer;
  position: relative;
}

#game-btn:hover {
  background-color: var(--blue);
  color: var(--orange);
  border: 1px solid var(--orange);
  transition: 0.3s ease;
}

#game-btn:active {
  top: 2px;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px 0px;
  font-size: 1.1rem;
  background: var(--black);
  color: var(--orange);
}

@media screen and (max-width: 850px) {
  .gameboard {
    width: 305px;
    height: 305px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
  }
}